:root {
	--block-elements-color: hsl(265, 77%, 40%);
}
body {
	font-size: 62.5%;
}

.calculus {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border: 3px black solid;
}
.calculus__element{
	font-size: 2rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
}

.coloredWrong {
	background-color: red;
}
.coloredRight {
	background-color: green;
}
.bold {
 font-weight: bold;
}
.crossOut {
	text-decoration: line-through;
}
.border {
	border: 1px solid red;
}

/*form {*/
/*	background-color: green;*/
/*	position: relative;*/
/*	width: 150px;*/
/*	height: 150px;*/
/*	text-align: center;*/
/*	cursor: pointer;*/
/*}*/

/*div {*/
/*	background-color: blue;*/
/*	position: absolute;*/
/*	top: 25px;*/
/*	left: 25px;*/
/*	width: 100px;*/
/*	height: 100px;*/
/*}*/

/*p {*/
/*	background-color: red;*/
/*	position: absolute;*/
/*	top: 25px;*/
/*	left: 25px;*/
/*	width: 50px;*/
/*	height: 50px;*/
/*	line-height: 50px;*/
/*	margin: 0;*/
/*}*/


div, ul, li {
	padding: 20px;
}

div {
	border: 1px solid red;
}
ul {
	border: 1px solid orange;
}
li {
	border: 1px solid green;
}